header{        /*Top Orange Area*/
  height: 15vh;
  background-color: #ff8523;
  border: solid;
  border-color: #ff8523;
}
header > nav {     /*Navigation Buttons*/
  margin-bottom: auto;
  padding: 20px 5px;
  font-size: 14px;
}
header > nav > a{
  text-decoration: none;
  color: white;
  border: solid;
  border-width: 1px;
  padding: 5px;
  align-items: center;
  border-radius: 3px;
  border-color: white;
}
body p a {
  color: #1fabe5;
}
ul{
  margin-bottom: 10vh;
  font-weight: bold;
}
h2, h3{
  color: #1fabe5;
}
section{
  border-top: solid;
  border-color: #dddddd;
  border-width: 3px;
  border-radius: 3px;
}
table img {
  height:40px;
  padding: 5px;
}
thead td{
  background-color: #1fabe5;
  text-align: left;
  height: 5vh;
  color: white;
}
tbody td{
  max-height: 10vh;
}
table, td{
  border: 1px solid #046c97;
  border-collapse: collapse;
}
form{
  background-color: #eee;
  border-radius: 5px;
  margin: 20px;
}
.name label {
  color: white;
}
.name{
  background-color: #ff8523;
  border-color: #ff8523;
  padding: 20px;
  border-radius: 3px;
}
form{
  padding: 10px;
}
.city_container{
  margin: 2px 10px;
  padding: 10px;
}
form > div{
  margin: 2px 10px;
}
textarea{
  margin: 2px 10px;
  padding: 10px;
}
.submit_container{
  color: #1fabe5;
}
/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6

colors:
    light gray - #eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
